{% extends "base.html" %}

{%block start%}
{% load static %}
<style>
   
    a:hover{
        background-color: #e14240;
    }
    b,h1{
        display: flex;
        justify-content: center;

    }
    form{
        border: none;
    }
</style>
<h1>Exam Invigilation Duty</h1>
<hr>
<nav class="navbar navbar-expand-lg bg-danger mt-5">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        
        <ul class="navbar-nav  mb-lg-0">
          <li class="nav-item">
            <h4><a class="nav-link "  href="/AddFaculty/">Add Faculty</a></h4>
          </li>
          <li class="nav-item">
            <h4><a class="nav-link" href="/AddLeisure/">Add Leisute Time</a></h4>
          </li>
		  <li class="nav-item">
            <h4><a class="nav-link " href="/ScheduleExam/" >Schedule Exam Time</a></h4>
          </li>
          <li class="nav-item">
            <h4><a class="nav-link mx-auto" href="#" >View Scheduled</a></h4>
          </li>
          <li class="nav-item">
            <h4><a class="nav-link " href="/index/" >Logout</a></h4>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
	
  <div class="container mt-5">
    
    <form class="mt-5" method="post" >
		{% csrf_token %}
		<h3><b>Add Faculty</b></h3>
		{%if messages%}
    <div class="alert text-bg-success" role="alert">
        {%for message in messages %}
        {{message}}
        {%endfor%}
      </div>
      {%endif%}
	<TABLE align=center width="30%" class="notepad">
		<TR><TH align="left"><font size="2" color="black">Faculty&nbsp;Name</font>
		<TD>&nbsp;<Input type="text" name="faculty_name"  class="mt-3" value='' >
		
		</TD>
		</TR>
		
		<TR><TH ><font size="2" color="black">Gender</font>
		<TD>&nbsp;<select  name="gender" class="mt-3">
		<option value="Male">Male</option>
		<option value="Female">Female</option>
		</select>
		</TR>

		<TR><TH align="left"><font size="2" color="black">ContactNo</font>
		<TD>&nbsp;<Input type="text" name="contact" class="mt-3" value='' >
		
		</TD>
		</TR>

		<TR><TH align="left"><font size="2" color="black">Qualification</font>
		<TD>&nbsp;<select name="qualification" class="mt-3">
		<option value="M.Tech">M.Tech</option>
		<option value="MBA">MBA</option>
		<option value="MCA">MCA</option>
		<option value="MSC">MSC</option>
		<option value="B.Tech">B.Tech</option>
		<option value="Degree">Degree</option>
		</select>
		</TR>

		<TR><TH align="left"><font size="2" color="black">Username</font>
		<TD>&nbsp;<Input type="text" name="username" class="mt-3" value=''>
		
		</TD>
		</TR>

		<TR><TH align="left"><font size="2" color="black">Password</font>
		<TD>&nbsp;<Input type="password" class="mt-3" name="password" value=''>
		
		</TD>
		</TR>

		  <TR >
				 <TD></TD>
			<TD>	
		  <input class="mt-3" type="submit" value="Submit">
		 
		  </TABLE>
		</div>
        </form>
		

{%endblock%}