{% extends "base.html" %}

{%block start%}
{% load static %}
<style>
   
    a:hover{
        background-color: #e14240;
    }
    b,h1{
        display: flex;
        justify-content: center;

    }
</style>
<h1>Exam Invigilation Duty</h1>
<hr>
<nav class="navbar navbar-expand-lg bg-danger mt-5">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <h3><a class="nav-link "  href="/index/">Home</a></h3>
          </li>
          <li class="nav-item">
            <h3><a class="nav-link" href="/Adminlogin/">Admin Login Here</a></h3>
          </li>
          <li class="nav-item">
            <h3><a class="nav-link" href="/invigilator/">Invigilator Login Here</a></h3>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 <center> <img class="mt-5" src="{% static 'mysite/images/tra.jpg' %}" width="500px" ></center>
 <b>System Abstract</b><br>
 <b>Exam Invigilation Duty</b>
{%endblock%}