{% extends "base.html" %}

{%block start%}
{% load static %}
<style>
   
    a:hover{
        background-color: #e14240;
    }
    b,h1{
        display: flex;
        justify-content: center;

    }
    table,th,td{
        border: 1px solid black;
    }
</style>
<h1>Exam Invigilation Duty</h1>
<hr>
<nav class="navbar navbar-expand-lg bg-danger mt-5">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <h3><a class="nav-link "  href="#">View Alloted Schedule</a></h3>
          </li>
          <li class="nav-item">
            <h4><a class="nav-link " href="/logout_page/" >Logout</a></h4>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 <center> <img class="mt-5" src="{% static 'mysite/images/tra.jpg' %}" width="500px" ></center>
 <table class="mx-auto mt-4" id="t">
    <tr>
        <th>Exam Name</th>
      <th>FacultyName</th>
      <th>HallNo</th>
      <th>ExamTime</th>
      <th>ExamDate</th>
    </tr>
    {% for q in queryset %}
    <tr>
        <td><b>{{q.examname}}</b></td>
      <td><b>{{q.facultyname1}}</b></td>
      <td><b>{{q.hall}}</b></td>
      <td><b>{{q.examtime}}</b></td>
      <td><b>{{q.examdate}}</b></td>
      
      
    </tr>
    {%endfor%}

    {%endblock%}